[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bcrascraper = {path = ".",editable = true}
coverage = "*"
pytest = "*"
flake8 = "*"
pep8 = "*"
autopep8 = "*"
pylint = "*"

[packages]
click = "==7.0"
selenium = "==3.141.0"
bs4 = "==0.0.1"
bcra-scraper = {editable = true,path = "."}
pandas = "==0.25.0"
requests = "==2.22.0"
progressbar2 = "==3.47.0"
pyfiglet = "*"
beautifulsoup4 = "==4.8.0"
certifi = "==2019.9.11"
chardet = "==3.0.4"
idna = "==2.8"
numpy = "==1.17.0"
python-dateutil = "==2.8.0"
python-utils = "==2.3.0"
pytz = "==2019.2"
six = "==1.12.0"
soupsieve = "==1.9.2"
urllib3 = "==1.25.3"
PyYAML = "==5.1"

[requires]
python_version = "3.7"
