[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bcrascraper = {path = ".",editable = true}
coverage = "*"
pytest = "*"
flake8 = "*"
pep8 = "*"
autopep8 = "*"

[packages]
click = "*"
selenium = "*"
bs4 = "*"
bcra-scraper = {path = ".",editable = true}
pandas = "*"

[requires]
python_version = "3.7"
